<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap"
    rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="navbar">
      <nav class="nav">
        <div>
          <a href="{{url_for('home_page')}}"> स्मार्टराइट </a>
          <p>स्मार्टली लेखौ नेपालीमा</p>
        </div>
      </nav>
    </div>
  </header>
  
    <div class="text">SMART TEXT AUTOCOMPLETE</div>
    <!-- <form action="{{url_for('predict')}}" method="post"> -->
    <div class="textarea">
      <div id="textarea-container" contenteditable="true"  data-placeholder=" यहाँ लेख्नुहोस (Write Here)!!" name="text_area">
        {{output}}
      </div>
      <!-- <textarea id="textarea-container" cols="50"
        placeholder="यहाँ लेख्नुहोस (Write Here)!!" name="text_area" >{{output}}</textarea>
        <button>predict</button> -->
    </div>
  <!-- </form> -->
</body>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>